<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contnet="width=device-width, initial-scale=1, user-scalable=no">
    <title>Chat | ChatApp</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body class="chat">

    <aside class="chat__sidebar">
        <h3>Active Users</h3>
        <div id="users"></div>
    </aside>

    <section class="chat__main">
        <ol id="messages" class="chat__messages"></ol>
        <div class="typingNotification">
            <p class="typingNotifier"></p>
        </div>
        <footer class="chat__footer">
            <form id="message-form">
                <input id="message" name="message" type="text" placeholder="Message" autofocus autocomplete="off">
                <button>Send</button>
            </form>
            <button id="send-location">Send Location</button>
        </footer>
    </section>

    <script id="message-template" type="text/template">
        <li class="message">
            <!-- <div id="typing-template">
                <span>{{message}}</span>
            </div> -->
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p class="message-text">{{text}}</p>
            </div>
        </li>
    </script>

    <script id="location-message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p><a href="{{url}}" target="_blank">My Current Location</a></p>
            </div>
        </li>
    </script>
    <script id="message-notification-template" type="text/template">
        <ol id="notification-message">
            <p>{{}}</p>
        </ol>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/js/deparam.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
