<header>
    <nav class="orange">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><i class="mdi mdi-message-processing left"></i>Netty</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="mdi mdi-menu"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="toChat" href="/users/dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
                <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i></i>Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul id="mobile" class="sidenav">
        <li><a id="toChat" href="/users/dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
        <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i></i>Logout</a></li>
    </ul>
</header>

<main>
    <div class="container" id="chatContainerLogin">
        <h5 class="center section"center>Chat Login</h5>
        <form class="align-center" action="/{{id}}/chat">
            <div class="input-field col s12">
                <select name="room">
                    <option value="" disabled selected>Choose one</option>
                    <option value="Year One">Year One</option>
                    <option value="Year Two">Year Two</option>
                    <option value="Year Three">Year Three</option>
                    <option value="Year Four">Year Four</option>
                </select>
                <label>Chat Group Select</label>
            </div>
            <div class="input-field col s12">
                <input id="username" type="text" name="username" value="{{name}}">
                <label for="username">Room Alias</label>
            </div>
            <div class="input-field col s12">
                <button type="submit">Join Chat</button>
            </div>
        </form>
    </div>
</main>

<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <ul>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center orange-text text-lighten-2">&copy; Copyright 2018. Powered by Vegistech</div>
    </div>
</footer>
