<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right">
                <li><a id="toChat" href="/users/{{id}}/joinChat">To Chat</a></li>
                <li><a id="logout" href="/users/logout">Logout</a></li>
                <li id="time">Logged in at <span class="yellow-text">{{time}}</span></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div>
        <h5 class="center">Welcome back {{name}}</h5>
    </div>

    <div id="mainContent" class="container">
        <div class="row">
            <div class="col s6">
                <div class="card small">
                    <div class="card-content center">
                        <a href="#"><span class="mdi mdi-account main-icons tooltipped" data-tooltip="My Profile"></span></a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card small">
                    <div class="card-content center">
                        <a href="/users/{{id}}/joinChat"><span class="mdi mdi-account main-icons tooltipped" data-tooltip="To Chat"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <ul>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                    <li><a class="black-text text-lighten-2" href="#!"><span class="mdi mdi-facebook"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center orange-text text-lighten-2">&copy; Copyright 2018. Powered by Vegistech</div>
    </div>
</footer>
