<header>
    <div>
        <div class="navbar-fixed">
            <ul id="dropdown" class="dropdown-content">
                <li><a href="/lecturers/login">Log in</a></li>
                <li><a href="/lecturers/register">Register</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo"><i class="mdi mdi-message-processing left"></i>Netty</a>
                    <ul class="right">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Lecturer<i class="mdi mdi-menu-down right"></i></a></li>
                    </ul>
              </div>
            </nav>
        </div>
    </div>
</header>
<section id="mainContent">
    <div class="row">
        <div class="col s12 section">
            <form id="loginForm" name="loginForm" method="POST" action="/users/login">
                <div class="center"><span class="mdi mdi-login formIcons"></span></div>
                <h5 class="center">User Login</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi mdi-account prefix"></i>
                        <input value="{{username}}" type="text" id="username" name="studentUsername" autofocus>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi mdi-lock prefix"></i>
                        <input value="{{password}}" type="password" id="password" name="studentPassword">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn" type="submit" id="loginButton">Login</button>
                    </div>
                </div>
                <p class="center" id="newUser">New User? <a href="/users/register">Sign up</a></p>
            </form>
        </div>
    </div>
</section>
