<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right">
                <li><a id="toChat" href="/users/dashboard/{{id}}"><i class="mdi mdi-layers-outline left"></i>Dashboard</a></li>
                <li><a id="toChat" href="/users/{{id}}/joinChat"><i class="mdi mdi-comment-text-multiple-outline left"></i>Chat</a></li>
                <li class="active"><a id="toChat" href="/users/{{id}}/lecturers"><i class="mdi mdi-account-multiple left"></i>Lecturers</a></li>
                <li><a id="logout" href="/users/logout"><i class="mdi mdi-logout left"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="container">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-person"></i>Student 1</div>
                    <div class="collapsible-body">
                        <h4>From: Mr. Man</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="reply"></ul>
                        <div class="input-field">
                            <input type="text" id="reply" autocomplete="off">
                            <label for="reply">Reply</label>
                        </div>
                        <div class="input-field">
                            <button class="btn orange waves-effect waves-dark">Send<i class="mdi mdi-send right"></i></button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-person"></i>Student 1</div>
                    <div class="collapsible-body">
                        <h4>From: Mr. Man</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="reply"></ul>
                        <div class="input-field">
                            <input type="text" id="reply" autocomplete="off">
                            <label for="reply">Reply</label>
                        </div>
                        <div class="input-field">
                            <button class="btn orange waves-effect waves-dark">Send<i class="mdi mdi-send right"></i></button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-person"></i>Student 1</div>
                    <div class="collapsible-body">
                        <h4>From: Mr. Man</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="reply"></ul>
                        <div class="input-field">
                            <input type="text" id="reply" autocomplete="off">
                            <label for="reply">Reply</label>
                        </div>
                        <div class="input-field">
                            <button class="btn orange waves-effect waves-dark">Send<i class="mdi mdi-send right"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer>
    <div class="footer-copyright">
        <div class="container center orange-text text-lighten-2">&copy; Copyright 2018. Powered by Vegistech</div>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/moment.js"></script>
