* {
    margin: 0;
    padding: 0;
}
body {
    /* position: relative; */
    background-image: url('/img/homepageBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

nav {
    background-color: #ffa500;
}

#dropdown {
    position: relative;
    top: -65px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ffa500;
}

.error-message {
    background-color: #f8f8f8;
}

#mainContent {
    height: 100%;
    width: 100%;
}

.formIcons {
    margin: 0 auto;
    font-size: 50px;
}

#loginForm {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 50px;
    width: 35% !important;
    color: #ffffff;
    margin: 60px auto;
    border-radius: 10px;
}

#signupForm {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 50px;
    width: 35% !important;
    color: #ffffff;
    margin: 40px auto;
    border-radius: 10px;
}

.input-field input {
    color: #ffffff;
}

.input-field input[type=text]:focus + label, input[type=email]:focus + label, input[type=password]:focus + label {
    color: #ffa500 !important;
}

.input-field input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-bottom: 1px solid #ffa500 !important;
    box-shadow: 0 1px 0 0 #ffa500 !important;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

  /* icon prefix focus color */
.input-field .prefix.active {
    color: #ffa500 !important;
}

.icon {
    color: #ffffff !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ffa500;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #ffa500;
}
#loginButton, #signupButton {
    width: 100% !important;
    height: 40px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

#footer {
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #c5c5c5;
    text-align: center
}
